/*----------------------------*\
	responsive nav
\*----------------------------*/

@media only screen and (max-width: 991px) {
    .hamburger-menu .menu-toggle {
      display: inline-block;
    }
	
    #responsive-nav {
      position: fixed;
      left: 0;
      top: 0;
      background: #36344d;
      height: 100vh;
      max-width: 250px;
      width: 0%;
      overflow: hidden;
      z-index: 22;
      padding-top: 60px;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
    }
    #responsive-nav.active {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
      width: 100%;
    }
    .main-nav {
      margin: 0px;
      float: none;
    }
    .main-nav>li {
      display: block;
      float: none;
    }
    .main-nav>li>a {
      padding: 15px;
      color: #FFF;
	  border-left: 4px solid #333333;
      border-bottom: 1px ridge rgba(255, 255, 255, 0.04);
    }
    .header-logo {
        float: none;
        text-align: center;
        width: 100%;
        margin-left: 0;
      }
	  
      .header-logo .logo {
        display: inline-block;
      }
	  
	  .carousel {
		margin-top: 30px;
	}
	
	.sidebar-menu {
		display: none;
	}
  }

/*----------------------------*\
	Media Devices
\*----------------------------*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	.header-search {
		width: 100%;
	}
	.header-search form {
        width: 95%;
    }
	#footer {
    font-size: 16px;
    }
	
	.newsletter form:before {
		font-size: 90px;
		top: 60px;
		left: -10px;
	}
	
	.newsletter form:after {
		font-size: 90px;
		top: -40px;
		right: -5px;
	}
	
	.newsletter p {
		font-size: 20px;
	}
	
	.founded{
		margin-top: 35px;
	}

	.founded h2{
		font-size: 22px;
	}
	
	.founder {
		font-size: 14px;
	}
	
	.contact {
		display: none;
	}
	
	.contact-form {
		width: 100%;
		margin-top: 30px;
	}
	
	.contact-form-title {
		padding-bottom: 25px;
	}

	.product-table tr, .order-table tr, .top-table tr, .sub-table tr {
		border-bottom: 3px solid #673DE6;
		padding: 25px 0;
	}

	.product-table tr th, .product-table tr td, .order-table tr th, .order-table tr td, .top-table tr th, .top-table tr td, .sub-table tr th, .sub-table tr td {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100% !important;
	}

	.overlaybttn{
		margin: 30px 0px;
		display: flex;
		justify-content: flex-end;
	}
	.overlaybttn a{
		color: white;
		display: inline-block;
		text-decoration: none;
		padding: 10px 10px;
		border-radius: 20px;
		background: #1c1c1c;
		transition-duration: 0.3s;
	}
	.overlaybttn a:hover{
		box-shadow: 2px 2px 6px #0b0b0b, -2px -2px 6px #2d2d2d;
	}
	.overlaybttn a i{
		color: #4285F4;
		font-size: 14px;
	}
	.overlaybttn a span{
		padding-left: 2px;
		font-size: 14px;
		display: inline-block;
	}

	.t-left{
			text-align: left !important;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.newsletter form:before {
		left: -90px;
	}
	
	.newsletter form:after {
		right: -65px;
	}
	
	.founded{
		margin-top: 35px;
	}

	.founded h2{
		font-size: 26px;
	}

	.i1 img {
		max-width: 20%;
	}

	.product-table tr {
		border-bottom: 3px solid #673DE6;
		padding: 25px 0;
	}

	.product-table tr th, .product-table tr td {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100% !important;
	}

	.overlaybttn{
		margin: 30px 0px;
		display: flex;
		justify-content: flex-end;
	}
	.overlaybttn a{
		color: white;
		display: inline-block;
		text-decoration: none;
		padding: 10px 10px;
		border-radius: 20px;
		background: #1c1c1c;
		transition-duration: 0.3s;
	}
	.overlaybttn a:hover{
		box-shadow: 2px 2px 6px #0b0b0b, -2px -2px 6px #2d2d2d;
	}
	.overlaybttn a i{
		color: #4285F4;
		font-size: 14px;
	}
	.overlaybttn a span{
		padding-left: 2px;
		font-size: 14px;
		display: inline-block;
	}

	.t-left{
			text-align: left !important;
	}
}

/* Medium devices(sm) (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	.header-search {
		width: 80%;
	}
	.header-search form {
        width: 65%;
    }
	
	.carousel {
		margin-top: 30px;
	}
	
	.newsletter form:before {
		left: -90px;
	}
	
	.newsletter form:after {
		right: -65px;
	}
	
	.founded{
		margin-top: 35px;
	}

	.founded h2{
		font-size: 26px;
	}
	
	.content {
		width: 90%;
	}
	
	.content-upped {
	    margin: -60px 5% -30px 5%;
	}

	.contact {
		padding: 135px 60px 120px 30px;
	}

	.contact-form {
		width: 90%;
		margin-top: 30px;
	}

	.contact-form-title {
		padding-bottom: 25px;
	}

	.i1 img {
		max-width: 20%;
	}

	.product-table tr {
		border-bottom: 3px solid #673DE6;
		padding: 25px 0;
	}

	.product-table tr th, .product-table tr td {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100% !important;
	}

	.overlaybttn{
		margin: 30px 0px;
		display: flex;
		justify-content: flex-end;
	}
	.overlaybttn a{
		color: white;
		display: inline-block;
		text-decoration: none;
		padding: 10px 10px;
		border-radius: 20px;
		background: #1c1c1c;
		transition-duration: 0.3s;
	}
	.overlaybttn a:hover{
		box-shadow: 2px 2px 6px #0b0b0b, -2px -2px 6px #2d2d2d;
	}
	.overlaybttn a i{
		color: #4285F4;
		font-size: 14px;
	}
	.overlaybttn a span{
		padding-left: 2px;
		font-size: 14px;
		display: inline-block;
	}
}

/* Large devices(md) (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .ad {
      background: transparent;
      padding: 20px;
      position: fixed;
      width: 145px;
      height: 60%;
      display: block!important;
      top: 10%;
	}

	.header-logo {
        width: 45%;
        margin-left: 10%;
    }
    
    #navigation {
        width: 65%;
        margin-left: 5%;
        margin-right: 0;
    }
	
	.content {
		width: 72%;
	}
	
	.content-upped {
	    margin: -60px 14% -30px 14%;
	}

	.contact {
		padding: 125px 72px 130px 50px;
	}

	.contact-form {
		width: 90%;
	}

	.contact-form-title {
		padding-bottom: 25px;
	}
	
	.ham-none{
		display:none;
	}
	
	.md-hl{
		margin-left: 55%; 
	}

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	.ad {
	  background: transparent;
	  padding: 20px;
	  position: fixed;
	  width: 200px;
	  height: 60%;
	  display: block!important;
	  top: 10%;
	}
	
	.content {
		width: 72%;
	}
	
	.content-upped {
		margin: -60px 14% -30px 14%;
	}
	
	.ham-none{
		display:none;
	}
	
	.md-hl{
		margin-left: 40%; 
	}
}




